<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" size-lg="6" class="center">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">
              <ion-icon name="key-sharp" color="secondary"></ion-icon>
              Signup
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="signupForm" autocomplete="off">
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" formControlName="email"></ion-input>
              </ion-item>
              <div class="error-message">
                {{formError.email}}
              </div>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
              <div class="error-message">
                {{formError.password}}
              </div>
              <ion-button [disabled]=signupForm.invalid expand="block" class="ion-margin-top" 
              (click)="signup()">Signup
              <ion-spinner name="crescent" *ngIf="showSignupSpinner"></ion-spinner>
              </ion-button>
              
              <ion-button color="light" expand="block" class="ion-margin-top" (click)="goToLoginPage()">Go to Login</ion-button>
            </form>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
